

/*Menu responsivo*/
input#checkmenu {
    display: none;

}

#labelmenu {
    width: 5%;


    height: 100%;
    display: none;
}

.menuburguer {
    margin-right: 3%;
    height: 100%;
}

/*para a navegação não encostar no título*/
@media(max-width:1542px) {
    #menu ul li {
        font-size: 1.3em;
    }
}


@media(max-width:800px) {

    /*menu vai desaparecer*/
    #menu {
        display: none;
        height: 150px;
        width: 100%;
        justify-content: right;
        background-color: transparent;
        

    }

    #menu ul {
        flex-wrap: wrap;
        background-color: green;
        height: 100%;
        width: 100%;

    }

    /*Esconderemos a ul*/
    input#checkmenu~#menu ul {
        position: absolute;
        right: -100%;
        animation: appear;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        transition: rigth 3s;
        transition-timing-function: ease-in;

    }

    #labelmenu {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 2.7rem;
        width: 100%;
        padding: 6px 0;
        background-color: green;


    }

    /*para que a ul, escondida à direita, apareça*/
    @keyframes appear {
        100% {
            right: 0;
        }
    }


    #menu ul li {
        width: 100%;
        text-align: center;
        display: block;
        height: 25%;
        border-top: 0.1px solid #fff;
        display: flex;
    }

    .menuburguer {
        display: flex;
        width: 5%;
        height: 30px;
        margin: auto;
        flex-wrap: wrap;
    }

    /*Animação*/
    /*Quando apertarmos o label, o menu vai aparecer*/
    input#checkmenu:checked~#menu {
        display: flex;
        backdrop-filter: blur(5px);
    }

    /*para que rode quando clicar*/
    input#checkmenu:checked~label .menuburguer {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        rotate: 45deg;
    }

    input#checkmenu:checked~label #hamburguer1::before {
        position: absolute;
        rotate: -90deg;
    }


    .hamburguer,
    .hamburguer::before {
        display: block;
        height: 5%;
        background-color: #000;
        width: 100%;
        transition: rotate 1s;

    }

    .hamburguer::before {
        display: block;
        content: '';
    }




}

@media(max-width:600px) {
    .menuburguer {
        width: 7%;
    }
}